{
    "version": {{ trident_backend_version }},
    "storageDriverName": "{{ trident_backend_storageDriverName }}",
    "managementLIF": "{{ trident_backend_managementLIF }}",
    "backendName": "{{ trident_backend_backendName }}",
    "dataLIF": "{{ trident_backend_dataLIF }}",
    "svm": "{{ trident_backend_svm }}",
    "username": "{{ trident_backend_username }}",
    "password": "{{ trident_backend_password }}",
    "defaults": {{ trident_backend_defaults | safe }}
}
