{
    "version": {{ m7s_k8s_trident_backend_version }},
    "storageDriverName": "{{ m7s_k8s_trident_backend_storageDriverName }}",
    "managementLIF": "{{ m7s_k8s_trident_backend_managementLIF }}",
    "backendName": "{{ m7s_k8s_trident_backend_backendName }}",
    "dataLIF": "{{ m7s_k8s_trident_backend_dataLIF }}",
    "svm": "{{ m7s_k8s_trident_backend_svm }}",
    "username": "{{ m7s_k8s_trident_backend_username }}",
    "password": "{{ m7s_k8s_trident_backend_password }}",
    "defaults": {{ m7s_k8s_trident_backend_defaults | safe }}
}
